exportPattern("^[[:alpha:]]+")
import(ggplot2) 
importFrom(gdata, drop.levels, read.xls)
importFrom(grid, grid.draw)
importFrom(magrittr, '%>%', '%<>%', subtract, multiply_by)
importFrom(plyr, ddply, l_ply,.)
importFrom(reshape, cast, melt, melt.data.frame)
importFrom(vegan, rarefy)
importFrom(VennDiagram, venn.diagram)
